*{
    margin: 0;
    padding: 0;
}
.app-container{
    display: flex;
    margin: 0;
    padding: 0;

}
.content{
    
    width: 100%;
}
.sidebar{

    height: 500px !important;
}

.post-card{
    margin: 20px 50px;
}

.create-post{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.msg{
    margin-top: 100px ;
   
}
.spine{
    margin: 10% 0;
    width: 10rem;
    height: 10rem;
}